## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

# List of columns to drop
columns_to_drop = ['EIN', 'NAME']

# Drop columns only if they exist in the DataFrame  (NOTE: this code can be re-run without erroring out)
application_df.drop(columns=[col for col in columns_to_drop if col in application_df.columns], inplace=True)

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`



cutoff = 500

# Get the value counts of APPLICATION_TYPE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Filter the values that have counts below the cutoff
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()
print(f"application_types_to_replace: (replace these as 'Other')\n{application_types_to_replace}\n")



# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

application_types_to_replace: (replace these as 'Other')
['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
#################################
# SPECIAL PANDAS DISPLAY OPTION #
#################################
# Set the maximum number of rows to display (None = display all rows)
pd.set_option('display.max_rows', None)

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"

application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
C2190        1
C4200        1
C2600        1
C5200        1
C1370        1
C1248        1
C6100        1
C1820        1
C1900        1
C1236        1
C3700        1
C2570        1
C1580        1
C1245        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, dtype: int64

In [8]:
#################################
# SPECIAL PANDAS DISPLAY OPTION #
#################################
# Reset to the default max rows value (usually 10)
pd.reset_option('display.max_rows')

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1

# Get the value counts for the 'CLASSIFICATION' column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter the value counts to only display those greater than 1
filtered_counts = classification_counts[classification_counts > 1]

# Display the filtered counts
print(filtered_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`



cutoff = 1000

# Get the value counts of APPLICATION_TYPE
classification_type_counts = application_df['CLASSIFICATION'].value_counts()

# Filter the values that have counts below the cutoff
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff].index.tolist()
print(f"classifications_to_replace: (replace these as 'Other')\n{classifications_to_replace}\n")

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

classifications_to_replace: (replace these as 'Other')
['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
#################################
# SPECIAL PANDAS DISPLAY OPTION #
#################################
# Set the maximum number of columns to display (None = display all columns)
pd.set_option('display.max_columns', None)

In [12]:
print("########## Before Converting Categorical Data to Numeric ##########")
application_df.head()

########## Before Converting Categorical Data to Numeric ##########

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [14]:
print("\n\n########## After Converting Categorical Data to Numeric ##########")
application_df.head()

########## After Converting Categorical Data to Numeric ##########

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False

In [15]:
#################################
# SPECIAL PANDAS DISPLAY OPTION #
#################################
# Reset the display.max_columns option to its default value
pd.reset_option('display.max_columns')

In [16]:
# Split our preprocessed data into our features and target arrays
y_labels_df = application_df['IS_SUCCESSFUL']                     # y - labels - label vector - target variables (dependent variables)
x_features_df = application_df.drop(columns=['IS_SUCCESSFUL'])    # X - features - feature matrix - input variables (independent variables)

# Split the preprocessed data into a training and testing dataset
test_data_percentage = (20/100)    # 20% of the data will be used for testing, and 80% for training. (FYI: train_test_split default is 25%)
X_train, X_test, y_train, y_test = train_test_split(x_features_df, y_labels_df, test_size=test_data_percentage, random_state=1)

In [17]:
print("Before split")
print(f"x_features_df:  {x_features_df.shape}")
print(f"y_labels_df:    {y_labels_df.shape}")

print()
print("After split")
print(f"X_train:        {X_train.shape}")
print(f"y_train:        {y_train.shape}")
print(f"X_test:         {X_test.shape}")
print(f"y_test:         {y_test.shape}")

Before split
x_features_df:  (34299, 43)
y_labels_df:    (34299,)

After split
X_train:        (27439, 43)
y_train:        (27439,)
X_test:         (6860, 43)
y_test:         (6860,)

In [18]:
# Display the labels and features data used to create the train and test data sets
# print(f"y_labels_df\n-----------\n{y_labels_df}\n")
# print(f"\nx_features_df\n-------------\n{x_features_df}")

In [19]:
# Display the train and test data sets
# print(f"\nX_train\n-------\n{X_train}")
# print(f"\nX_test\n------\n{X_test}")
# print(f"\ny_train\n-------\n{y_train}")
# print(f"\ny_test\n------\n{y_test}")

In [20]:
# Display the shape of the train and test data sets
# print(f"X_train shape :{X_train.shape}")
# print(f"y_train shape :{y_train.shape}")
# print(f"X_test shape  :{X_test.shape}")
# print(f"y_test shape  :{y_test.shape}")

In [21]:
# # Check for missing values in the datasets
# print("\nMissing values in X_train:\n", X_train.isnull().sum())
# print("\nMissing values in X_test:\n", X_test.isnull().sum())

# print("\nMissing values in y_train:\n", y_train.isnull().sum())
# print("\nMissing values in y_test:\n", y_test.isnull().sum())

In [22]:
# # Display basic statistics of the datasets
# print("\nBasic statistics of X_train:")
# print(X_train.describe())

# print("\nBasic statistics of y_train:")
# print(y_train.describe())

# print("\nBasic statistics of X_test:")
# print(X_test.describe())

# print("\nBasic statistics of y_test:")
# print(y_test.describe())

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [24]:
print("After scaling")
print(f"X_train_scaled:  {X_train_scaled.shape}")
print(f"X_test_scaled:   {X_test_scaled.shape}")

After scaling
X_train_scaled:  (27439, 43)
X_test_scaled:   (6860, 43)

In [25]:
# Display the scaled train and test data sets
# print(f"\nX_train_scaled\n-------\n{X_train_scaled}")
# print(f"\nX_test_scaled\n------\n{X_test_scaled}")

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


# Create the Keras Sequential model
nn = tf.keras.models.Sequential()

# Get the number of columns ( used by Input Layer )
columns_in_training_data = X_train_scaled.shape[1]    # 43
print(f"Input Layer: {columns_in_training_data} columns\n")

# Add Input layer
nn.add(tf.keras.layers.Input(shape=(columns_in_training_data,)))

# Add First Dense layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Add Second Dense layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Add Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the Sequential model
nn.summary()

Input Layer: 43 columns

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model

# Fit the model to the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)


# Epoch 1/100
# 25724/25724 [==============================] - 2s 80us/sample - loss: 0.5700 - acc: 0.7234
# Epoch 2/100
# 25724/25724 [==============================] - 1s 44us/sample - loss: 0.5556 - acc: 0.7294
# Epoch 3/100
# 25724/25724 [==============================] - 1s 43us/sample - loss: 0.5529 - acc: 0.7304
# Epoch 4/100
# 25724/25724 [==============================] - 1s 49us/sample - loss: 0.5514 - acc: 0.7318
# Epoch 5/100
# 25724/25724 [==============================] - 1s 48us/sample - loss: 0.5495 - acc: 0.7322
# ... ... ...
# Epoch 95/100
# 25724/25724 [==============================] - 1s 56us/sample - loss: 0.5362 - acc: 0.7411
# Epoch 96/100
# 25724/25724 [==============================] - 1s 50us/sample - loss: 0.5361 - acc: 0.7404
# Epoch 97/100
# 25724/25724 [==============================] - 1s 54us/sample - loss: 0.5361 - acc: 0.74130s - loss: 0.5380 - 
# Epoch 98/100
# 25724/25724 [==============================] - 2s 64us/sample - loss: 0.5365 - acc: 0.7407
# Epoch 99/100
# 25724/25724 [==============================] - 2s 80us/sample - loss: 0.5360 - acc: 0.7396
# Epoch 100/100
# 25724/25724 [==============================] - 2s 64us/sample - loss: 0.5360 - acc: 0.7416

Epoch 1/100
858/858 [==============================] - 1s 923us/step - loss: 0.5693 - accuracy: 0.7224
Epoch 2/100
858/858 [==============================] - 1s 903us/step - loss: 0.5543 - accuracy: 0.7280
Epoch 3/100
858/858 [==============================] - 1s 897us/step - loss: 0.5521 - accuracy: 0.7300
Epoch 4/100
858/858 [==============================] - 1s 905us/step - loss: 0.5503 - accuracy: 0.7311
Epoch 5/100
858/858 [==============================] - 1s 898us/step - loss: 0.5488 - accuracy: 0.7311
Epoch 6/100
858/858 [==============================] - 1s 938us/step - loss: 0.5477 - accuracy: 0.7302
Epoch 7/100
858/858 [==============================] - 1s 930us/step - loss: 0.5468 - accuracy: 0.7335
Epoch 8/100
858/858 [==============================] - 1s 970us/step - loss: 0.5464 - accuracy: 0.7354
Epoch 9/100
858/858 [==============================] - 1s 928us/step - loss: 0.5461 - accuracy: 0.7322
Epoch 10/100
858/858 [==============================] - 1s 918us/step - loss: 0.5457 - accuracy: 0.7325
Epoch 11/100
858/858 [==============================] - 1s 940us/step - loss: 0.5452 - accuracy: 0.7338
Epoch 12/100
858/858 [==============================] - 1s 948us/step - loss: 0.5448 - accuracy: 0.7337
Epoch 13/100
858/858 [==============================] - 1s 931us/step - loss: 0.5443 - accuracy: 0.7345
Epoch 14/100
858/858 [==============================] - 1s 921us/step - loss: 0.5435 - accuracy: 0.7352
Epoch 15/100
858/858 [==============================] - 1s 925us/step - loss: 0.5436 - accuracy: 0.7343
Epoch 16/100
858/858 [==============================] - 1s 906us/step - loss: 0.5431 - accuracy: 0.7359
Epoch 17/100
858/858 [==============================] - 1s 931us/step - loss: 0.5431 - accuracy: 0.7353
Epoch 18/100
858/858 [==============================] - 1s 931us/step - loss: 0.5427 - accuracy: 0.7356
Epoch 19/100
858/858 [==============================] - 1s 921us/step - loss: 0.5425 - accuracy: 0.7358
Epoch 20/100
858/858 [==============================] - 1s 919us/step - loss: 0.5423 - accuracy: 0.7362
Epoch 21/100
858/858 [==============================] - 1s 914us/step - loss: 0.5426 - accuracy: 0.7361
Epoch 22/100
858/858 [==============================] - 1s 914us/step - loss: 0.5420 - accuracy: 0.7354
Epoch 23/100
858/858 [==============================] - 1s 996us/step - loss: 0.5417 - accuracy: 0.7369
Epoch 24/100
858/858 [==============================] - 1s 914us/step - loss: 0.5416 - accuracy: 0.7370
Epoch 25/100
858/858 [==============================] - 1s 913us/step - loss: 0.5411 - accuracy: 0.7371
Epoch 26/100
858/858 [==============================] - 1s 931us/step - loss: 0.5410 - accuracy: 0.7368
Epoch 27/100
858/858 [==============================] - 1s 913us/step - loss: 0.5408 - accuracy: 0.7360
Epoch 28/100
858/858 [==============================] - 1s 909us/step - loss: 0.5409 - accuracy: 0.7365
Epoch 29/100
858/858 [==============================] - 1s 906us/step - loss: 0.5408 - accuracy: 0.7368
Epoch 30/100
858/858 [==============================] - 1s 923us/step - loss: 0.5404 - accuracy: 0.7370
Epoch 31/100
858/858 [==============================] - 1s 932us/step - loss: 0.5404 - accuracy: 0.7365
Epoch 32/100
858/858 [==============================] - 1s 910us/step - loss: 0.5402 - accuracy: 0.7367
Epoch 33/100
858/858 [==============================] - 1s 914us/step - loss: 0.5400 - accuracy: 0.7371
Epoch 34/100
858/858 [==============================] - 1s 918us/step - loss: 0.5398 - accuracy: 0.7369
Epoch 35/100
858/858 [==============================] - 1s 910us/step - loss: 0.5399 - accuracy: 0.7373
Epoch 36/100
858/858 [==============================] - 1s 920us/step - loss: 0.5396 - accuracy: 0.7379
Epoch 37/100
858/858 [==============================] - 1s 918us/step - loss: 0.5399 - accuracy: 0.7371
Epoch 38/100
858/858 [==============================] - 1s 916us/step - loss: 0.5394 - accuracy: 0.7379
Epoch 39/100
858/858 [==============================] - 1s 937us/step - loss: 0.5397 - accuracy: 0.7366
Epoch 40/100
858/858 [==============================] - 1s 915us/step - loss: 0.5391 - accuracy: 0.7381
Epoch 41/100
858/858 [==============================] - 1s 914us/step - loss: 0.5390 - accuracy: 0.7368
Epoch 42/100
858/858 [==============================] - 1s 917us/step - loss: 0.5386 - accuracy: 0.7383
Epoch 43/100
858/858 [==============================] - 1s 925us/step - loss: 0.5393 - accuracy: 0.7367
Epoch 44/100
858/858 [==============================] - 1s 938us/step - loss: 0.5382 - accuracy: 0.7388
Epoch 45/100
858/858 [==============================] - 1s 918us/step - loss: 0.5386 - accuracy: 0.7379
Epoch 46/100
858/858 [==============================] - 1s 911us/step - loss: 0.5387 - accuracy: 0.7378
Epoch 47/100
858/858 [==============================] - 1s 960us/step - loss: 0.5386 - accuracy: 0.7372
Epoch 48/100
858/858 [==============================] - 1s 924us/step - loss: 0.5384 - accuracy: 0.7380
Epoch 49/100
858/858 [==============================] - 1s 920us/step - loss: 0.5382 - accuracy: 0.7376
Epoch 50/100
858/858 [==============================] - 1s 918us/step - loss: 0.5385 - accuracy: 0.7378
Epoch 51/100
858/858 [==============================] - 1s 951us/step - loss: 0.5379 - accuracy: 0.7375
Epoch 52/100
858/858 [==============================] - 1s 984us/step - loss: 0.5377 - accuracy: 0.7380
Epoch 53/100
858/858 [==============================] - 1s 920us/step - loss: 0.5375 - accuracy: 0.7379
Epoch 54/100
858/858 [==============================] - 1s 922us/step - loss: 0.5382 - accuracy: 0.7372
Epoch 55/100
858/858 [==============================] - 1s 918us/step - loss: 0.5379 - accuracy: 0.7389
Epoch 56/100
858/858 [==============================] - 1s 945us/step - loss: 0.5378 - accuracy: 0.7379
Epoch 57/100
858/858 [==============================] - 1s 918us/step - loss: 0.5374 - accuracy: 0.7385
Epoch 58/100
858/858 [==============================] - 1s 921us/step - loss: 0.5374 - accuracy: 0.7387
Epoch 59/100
858/858 [==============================] - 1s 914us/step - loss: 0.5373 - accuracy: 0.7386
Epoch 60/100
858/858 [==============================] - 1s 920us/step - loss: 0.5374 - accuracy: 0.7376
Epoch 61/100
858/858 [==============================] - 1s 921us/step - loss: 0.5375 - accuracy: 0.7387
Epoch 62/100
858/858 [==============================] - 1s 930us/step - loss: 0.5374 - accuracy: 0.7376
Epoch 63/100
858/858 [==============================] - 1s 918us/step - loss: 0.5371 - accuracy: 0.7387
Epoch 64/100
858/858 [==============================] - 1s 938us/step - loss: 0.5370 - accuracy: 0.7379
Epoch 65/100
858/858 [==============================] - 1s 925us/step - loss: 0.5368 - accuracy: 0.7379
Epoch 66/100
858/858 [==============================] - 1s 919us/step - loss: 0.5368 - accuracy: 0.7387
Epoch 67/100
858/858 [==============================] - 1s 927us/step - loss: 0.5372 - accuracy: 0.7385
Epoch 68/100
858/858 [==============================] - 1s 924us/step - loss: 0.5367 - accuracy: 0.7390
Epoch 69/100
858/858 [==============================] - 1s 941us/step - loss: 0.5368 - accuracy: 0.7382
Epoch 70/100
858/858 [==============================] - 1s 927us/step - loss: 0.5368 - accuracy: 0.7391
Epoch 71/100
858/858 [==============================] - 1s 924us/step - loss: 0.5367 - accuracy: 0.7382
Epoch 72/100
858/858 [==============================] - 1s 924us/step - loss: 0.5365 - accuracy: 0.7385
Epoch 73/100
858/858 [==============================] - 1s 922us/step - loss: 0.5364 - accuracy: 0.7392
Epoch 74/100
858/858 [==============================] - 1s 925us/step - loss: 0.5369 - accuracy: 0.7387
Epoch 75/100
858/858 [==============================] - 1s 927us/step - loss: 0.5367 - accuracy: 0.7387
Epoch 76/100
858/858 [==============================] - 1s 936us/step - loss: 0.5367 - accuracy: 0.7380
Epoch 77/100
858/858 [==============================] - 1s 931us/step - loss: 0.5366 - accuracy: 0.7396
Epoch 78/100
858/858 [==============================] - 1s 937us/step - loss: 0.5364 - accuracy: 0.7387
Epoch 79/100
858/858 [==============================] - 1s 921us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 80/100
858/858 [==============================] - 1s 924us/step - loss: 0.5362 - accuracy: 0.7390
Epoch 81/100
858/858 [==============================] - 1s 926us/step - loss: 0.5361 - accuracy: 0.7394
Epoch 82/100
858/858 [==============================] - 1s 939us/step - loss: 0.5357 - accuracy: 0.7395
Epoch 83/100
858/858 [==============================] - 1s 923us/step - loss: 0.5359 - accuracy: 0.7392
Epoch 84/100
858/858 [==============================] - 1s 930us/step - loss: 0.5357 - accuracy: 0.7388
Epoch 85/100
858/858 [==============================] - 1s 988us/step - loss: 0.5360 - accuracy: 0.7392
Epoch 86/100
858/858 [==============================] - 1s 947us/step - loss: 0.5359 - accuracy: 0.7392
Epoch 87/100
858/858 [==============================] - 1s 928us/step - loss: 0.5360 - accuracy: 0.7394
Epoch 88/100
858/858 [==============================] - 1s 928us/step - loss: 0.5355 - accuracy: 0.7393
Epoch 89/100
858/858 [==============================] - 1s 944us/step - loss: 0.5358 - accuracy: 0.7399
Epoch 90/100
858/858 [==============================] - 1s 925us/step - loss: 0.5358 - accuracy: 0.7396
Epoch 91/100
858/858 [==============================] - 1s 937us/step - loss: 0.5357 - accuracy: 0.7395
Epoch 92/100
858/858 [==============================] - 1s 933us/step - loss: 0.5357 - accuracy: 0.7391
Epoch 93/100
858/858 [==============================] - 1s 936us/step - loss: 0.5353 - accuracy: 0.7395
Epoch 94/100
858/858 [==============================] - 1s 951us/step - loss: 0.5353 - accuracy: 0.7401
Epoch 95/100
858/858 [==============================] - 1s 932us/step - loss: 0.5353 - accuracy: 0.7401
Epoch 96/100
858/858 [==============================] - 1s 941us/step - loss: 0.5351 - accuracy: 0.7395
Epoch 97/100
858/858 [==============================] - 1s 928us/step - loss: 0.5354 - accuracy: 0.7402
Epoch 98/100
858/858 [==============================] - 1s 936us/step - loss: 0.5353 - accuracy: 0.7397
Epoch 99/100
858/858 [==============================] - 1s 932us/step - loss: 0.5350 - accuracy: 0.7400
Epoch 100/100
858/858 [==============================] - 1s 934us/step - loss: 0.5355 - accuracy: 0.7390

In [29]:
# #########
# # EXTRA #
# #########

# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################

# import matplotlib.pyplot as plt

# # Create a DataFrame containing training history
# history_df = pd.DataFrame(fit_model.history)

# # Increase the index by 1 to match the number of epochs
# history_df.index += 1

# # Plot the loss
# history_df.plot(y="loss")
# plt.show()

In [30]:
# #########
# # EXTRA #
# #########

# # Plot the accuracy
# history_df.plot(y="accuracy")
# plt.show()

# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################

In [31]:
# Evaluate the model using the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")


# 8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
# Loss: 0.557812534073699, Accuracy: 0.7262973785400391

215/215 - 0s - loss: 0.5600 - accuracy: 0.7280 - 276ms/epoch - 1ms/step
Loss: 0.5599730610847473, Accuracy: 0.7279883623123169

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5", save_format='h5')

In [33]:
# #########
# # EXTRA #
# #########

# # Export our model to HDF5 file
# #  YOUR CODE GOES HERE

# # model.save("my_model.h5")

# from datetime import datetime

# # Get the current date and time in the desired format
# timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")

# # Create the file name with the timestamp
# file_name = f"{timestamp}_AlphabetSoupCharity.h5"

# # Save the model with the timestamped file name
# # model.save(file_name)
# nn.save(file_name)

# print(f"Saved Model to HDF5 file\n----------------------------\n{file_name}\n")

# print("\nDirectory Listing\n-----------------------------------")
# # print("\nDirectory Listing\n-------------------")
# !dir {file_name}