## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
print("\nThe target variables are the values found specificaly within the 'IS_SUCCESSFUL' column.")
print("Thus, the feature variables are the values found in all other columns of importance (i.e. columns other than the 'IS_SUCCESSFUL' column).\n")

The target variables are the values found specificaly within the 'IS_SUCCESSFUL' column.
Thus, the feature variables are the values found in all other columns of importance (i.e. columns other than the 'IS_SUCCESSFUL' column).

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

# List of columns to drop
columns_to_drop = ['EIN', 'NAME']

# Drop columns only if they exist in the DataFrame  (NOTE: this code can be re-run without erroring out)
application_df.drop(columns=[col for col in columns_to_drop if col in application_df.columns], inplace=True)

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`



cutoff = 500

# Get the value counts of APPLICATION_TYPE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Filter the values that have counts below the cutoff
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()
print(f"application_types_to_replace: (replace these as 'Other')\n{application_types_to_replace}\n")



# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

application_types_to_replace: (replace these as 'Other')
['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
#################################
# SPECIAL PANDAS DISPLAY OPTION #
#################################
# Set the maximum number of rows to display (None = display all rows)
pd.set_option('display.max_rows', None)

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"

application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
C2190        1
C4200        1
C2600        1
C5200        1
C1370        1
C1248        1
C6100        1
C1820        1
C1900        1
C1236        1
C3700        1
C2570        1
C1580        1
C1245        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, dtype: int64

In [9]:
#################################
# SPECIAL PANDAS DISPLAY OPTION #
#################################
# Reset to the default max rows value (usually 10)
pd.reset_option('display.max_rows')

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1

# Get the value counts for the 'CLASSIFICATION' column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter the value counts to only display those greater than 1
filtered_counts = classification_counts[classification_counts > 1]

# Display the filtered counts
print(filtered_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`



cutoff = 1000

# Get the value counts of APPLICATION_TYPE
classification_type_counts = application_df['CLASSIFICATION'].value_counts()

# Filter the values that have counts below the cutoff
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff].index.tolist()
print(f"classifications_to_replace: (replace these as 'Other')\n{classifications_to_replace}\n")

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

classifications_to_replace: (replace these as 'Other')
['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
#################################
# SPECIAL PANDAS DISPLAY OPTION #
#################################
# Set the maximum number of columns to display (None = display all columns)
pd.set_option('display.max_columns', None)

In [13]:
print("########## Before Converting Categorical Data to Numeric ##########")
application_df.head()

########## Before Converting Categorical Data to Numeric ##########

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [15]:
print("\n\n########## After Converting Categorical Data to Numeric ##########")
application_df.head()

########## After Converting Categorical Data to Numeric ##########

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False

In [16]:
#################################
# SPECIAL PANDAS DISPLAY OPTION #
#################################
# Reset the display.max_columns option to its default value
pd.reset_option('display.max_columns')

In [17]:
# Split our preprocessed data into our features and target arrays
y_labels_df = application_df['IS_SUCCESSFUL']                     # y - labels - label vector - target variables (dependent variables)
x_features_df = application_df.drop(columns=['IS_SUCCESSFUL'])    # X - features - feature matrix - input variables (independent variables)

# Split the preprocessed data into a training and testing dataset
test_data_percentage = (20/100)    # 20% of the data will be used for testing, and 80% for training. (FYI: train_test_split default is 25%)
X_train, X_test, y_train, y_test = train_test_split(x_features_df, y_labels_df, test_size=test_data_percentage, random_state=1)

In [18]:
print("Before split")
print(f"x_features_df:  {x_features_df.shape}")
print(f"y_labels_df:    {y_labels_df.shape}")

print()
print("After split")
print(f"X_train:        {X_train.shape}")
print(f"y_train:        {y_train.shape}")
print(f"X_test:         {X_test.shape}")
print(f"y_test:         {y_test.shape}")

Before split
x_features_df:  (34299, 43)
y_labels_df:    (34299,)

After split
X_train:        (27439, 43)
y_train:        (27439,)
X_test:         (6860, 43)
y_test:         (6860,)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
print("After scaling")
print(f"X_train_scaled:  {X_train_scaled.shape}")
print(f"X_test_scaled:   {X_test_scaled.shape}")

After scaling
X_train_scaled:  (27439, 43)
X_test_scaled:   (6860, 43)

In [21]:
print("########## After Scaling the Data ##########\n")

# Number of rows you want to view (similar to head())
num_rows = 2

# Print the first few rows
print("Scaled Training Data\n---------------------")
print(X_train_scaled[:num_rows])

# Print the first few rows
print("\nScaled Testing Data\n--------------------")
print(X_test_scaled[:num_rows])

########## After Scaling the Data ##########

Scaled Training Data
---------------------
[[ 0.01045683 -0.03095675 -0.08845001 -0.1248287  -0.17922996  0.5200401
  -0.2177384  -0.18917119 -0.192759   -0.14643132 -0.15002639 -0.92621703
  -0.0431524   0.93255087 -0.03196072 -0.01045683 -0.02002623  0.99371486
  -0.40606734 -0.46568343 -0.24106748 -0.2430079  -0.26669204 -0.10549274
  -0.0662763  -0.01045683  0.47129428 -0.44655824 -0.65552292 -0.11802954
  -0.03573774  0.67902549  0.63716135 -0.14989936 -0.12452723 -0.33110845
  -0.08238929 -0.16855186 -0.34918231 -0.06401961 -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 -0.1248287  -0.17922996  0.5200401
  -0.2177384  -0.18917119 -0.192759   -0.14643132 -0.15002639 -0.92621703
  -0.0431524   0.93255087 -0.03196072 -0.01045683 -0.02002623 -1.0063249
  -0.40606734  2.14738153 -0.24106748 -0.2430079  -0.26669204 -0.10549274
  -0.0662763  -0.01045683  0.47129428 -0.44655824 -0.65552292 -0.11802954
  -0.03573774  0.67902549  0.63716135 -0.14989936 -0.12452723 -0.33110845
  -0.08238929 -0.16855186 -0.34918231 -0.06401961 -0.07488171  0.02832705
  -0.02832705]]

Scaled Testing Data
--------------------
[[ 0.01045683 -0.03095675 -0.08845001 -0.1248287  -0.17922996  0.5200401
  -0.2177384  -0.18917119 -0.192759   -0.14643132 -0.15002639 -0.92621703
  -0.0431524   0.93255087 -0.03196072 -0.01045683 -0.02002623  0.99371486
  -0.40606734 -0.46568343 -0.24106748 -0.2430079  -0.26669204 -0.10549274
  -0.0662763  -0.01045683  0.47129428 -0.44655824 -0.65552292 -0.11802954
  -0.03573774  0.67902549  0.63716135 -0.14989936 -0.12452723 -0.33110845
  -0.08238929 -0.16855186 -0.34918231 -0.06401961 -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 -0.1248287  -0.17922996  0.5200401
  -0.2177384  -0.18917119 -0.192759   -0.14643132 -0.15002639  1.07966056
  -0.0431524  -1.07232756 -0.03196072 -0.01045683 -0.02002623 -1.0063249
  -0.40606734 -0.46568343  4.14821617 -0.2430079  -0.26669204 -0.10549274
  -0.0662763  -0.01045683  0.47129428 -0.44655824 -0.65552292 -0.11802954
  -0.03573774  0.67902549  0.63716135 -0.14989936 -0.12452723 -0.33110845
  -0.08238929 -0.16855186 -0.34918231 -0.06401961 -0.07488171  0.02832705
  -0.02832705]]

In [22]:
# Get the number of columns ( to use as input to the ML Model's Input Layer )
columns_in_training_data = X_train_scaled.shape[1]    # 43
print(f"Input Layer: {columns_in_training_data} columns\n")

Input Layer: 43 columns

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Create the Keras Sequential model
nn = tf.keras.models.Sequential()

# Add Input layer
nn.add(tf.keras.layers.Input(shape=(columns_in_training_data,)))

# Add First Dense layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Add Second Dense layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Add Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the Sequential model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model

# Compile the Sequential model together and customize metrics
# "putting everything together" before training begins
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model

# Fit the model to the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5691 - accuracy: 0.7195
Epoch 2/100
858/858 [==============================] - 1s 972us/step - loss: 0.5547 - accuracy: 0.7282
Epoch 3/100
858/858 [==============================] - 1s 972us/step - loss: 0.5521 - accuracy: 0.7293
Epoch 4/100
858/858 [==============================] - 1s 988us/step - loss: 0.5501 - accuracy: 0.7294
Epoch 5/100
858/858 [==============================] - 1s 998us/step - loss: 0.5489 - accuracy: 0.7319
Epoch 6/100
858/858 [==============================] - 1s 983us/step - loss: 0.5485 - accuracy: 0.7305
Epoch 7/100
858/858 [==============================] - 1s 913us/step - loss: 0.5474 - accuracy: 0.7321
Epoch 8/100
858/858 [==============================] - 1s 992us/step - loss: 0.5472 - accuracy: 0.7317
Epoch 9/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7350
Epoch 10/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7327
Epoch 11/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7346
Epoch 12/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7335
Epoch 13/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7349
Epoch 14/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 15/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7353
Epoch 16/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7349
Epoch 17/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7359
Epoch 18/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7357
Epoch 19/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7345
Epoch 20/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7366
Epoch 21/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7370
Epoch 22/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 23/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7362
Epoch 24/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7368
Epoch 25/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7365
Epoch 26/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 27/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7377
Epoch 28/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7376
Epoch 29/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7379
Epoch 30/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7374
Epoch 31/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 32/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7371
Epoch 33/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7375
Epoch 34/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7374
Epoch 35/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7375
Epoch 36/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7383
Epoch 37/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7388
Epoch 38/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7372
Epoch 39/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7380
Epoch 40/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7380
Epoch 41/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7389
Epoch 42/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 43/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7383
Epoch 44/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7380
Epoch 45/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 46/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7389
Epoch 47/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 48/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7385
Epoch 49/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 50/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7385
Epoch 51/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7386
Epoch 52/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 53/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 54/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7388
Epoch 55/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7387
Epoch 56/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 57/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7384
Epoch 58/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7380
Epoch 59/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7384
Epoch 60/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7380
Epoch 61/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 62/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7380
Epoch 63/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7387
Epoch 64/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 65/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7389
Epoch 66/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7377
Epoch 67/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 68/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7389
Epoch 69/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7387
Epoch 70/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7387
Epoch 71/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7386
Epoch 72/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 73/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 74/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7385
Epoch 75/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7386
Epoch 76/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7392
Epoch 77/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7387
Epoch 78/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7390
Epoch 79/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7388
Epoch 80/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7393
Epoch 81/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7391
Epoch 82/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7390
Epoch 83/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 84/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7388
Epoch 85/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 86/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 87/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7389
Epoch 88/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7390
Epoch 89/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7400
Epoch 90/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 91/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7396
Epoch 92/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7398
Epoch 93/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7392
Epoch 94/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 95/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7387
Epoch 96/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7400
Epoch 97/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7394
Epoch 98/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 99/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7381
Epoch 100/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7394

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5597 - accuracy: 0.7293 - 349ms/epoch - 2ms/step
Loss: 0.5597385764122009, Accuracy: 0.729300320148468

In [27]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5", save_format='h5')